BODY {
	BACKGROUND: white; 
	COLOR: black; 
	FONT-FAMILY: Georgia, Verdana, Arial, Helvetica; 
	FONT-SIZE: 1.0em
}

a.highlight:link { color: #00ff00; text-decoration: none; }
a.highlight:visited { color: #00ff00; text-decoration: none; }
a.highlight:hover { color: #00ff00; text-decoration: underline; }
a.highlight:active { color: #00ff00; text-decoration: underline; }

a.menulink:link { color: #c0c0c0; text-decoration: none; }
a.menulink:visited { color: #c0c0c0; text-decoration: none; }
a.menulink:hover { color: #00ff00; text-decoration: underline; }
a.menulink:active { color: #00ff00; text-decoration: underline; }


.menu {
	font-size: 0.75em;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica;
	color: #a0a0a0;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background: black;
}

.infotab {
	background: #e7e6ea;	
	padding: 0em;
	margin: 1em;
}

.infohead {
	font-size: 0.7em;	
	font-family: Verdana, Arial, Helvetica;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	margin-left: 1.5em;
	margin-right: 1.5em;
	padding: 0.25em;
	color: #ffffff;
	font-weight: bold;
	background: #7a5ada;
}

.infosub {
	margin-top: 0.25em;
	margin-bottom: 0.15em;
	margin-left: 0em;
	margin-right: 0.5em;
	padding: 0em;
	font-weight: bold;
}

.infolist {
	margin-top: 0.05em;
	margin-bottom: 0.05em;
	margin-left: 2.0em;
	margin-right: 0.5em;
	padding: 0em;
	font-weight: normal;
}

.infogfx {
	background: #e7e6ea;
	padding: 0em;
}

.infotext {
	font-size: 0.7em;	
	font-family: Verdana, Arial, Helvetica;
	color: #320f61;
	margin-left: 1.5em;
	margin-right: 1.5em;
}

UL	{
	margin-left: 0.25em;
	padding-left: 1.0em;
}

.chaphead {
        margin: 1.2em 14% 0.5em 3%;
        font-size: 1.6em;
        font-weight: bold;
}

.copyright {
        padding-left: 1.0em;
        padding-right: 1.0em;
        margin: 0em 0% 0.2em 0%;
        font-size: 0.7em;
        font-family: Verdana, Arial, Helvetica;
	text-align: right;
	background: #ffffff;
	color: #808080;
}

.copyright:link {
	text-decoration: underline;
	color: #808080;
}

.copyright:visited {
	text-decoration: underline;
	color: #808080;
}

.copyright:hover { 
	text-decoration: underline;
	color: #0000ff;
	
}

.subhead {
	font-family: Georgia, Verdana, Arial, Helvetica;
	font-size: 1.2em;
	font-weight: bold;
	/*margin: 0.5em 0% 0.5em 0%;*/
}

.content {
	/*padding: 3em;*/
	padding-top: 0em;
	padding-left: 1.0em;
	padding-right: 1.0em;
	font-family: Georgia, Times, Sans-serif;
	font-size: 0.9em;
}

.contentbox {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 0.8em;
}

.logobg {
	background: #45347b;
}

.top {
	background: black;
	font-family: Verdana, Arial, Helvetica;
	font-size: 0.8em;
	color: #c0c0c0;
	padding: 0em;
	margin: 0em;
}

.topnews {
	background: #5f4e4e;
	color: white;
}

.tophead {
	color: #a7f3fe;
	font-weight: bold;
	margin: 0em;
}
/*
.top UL {
	margin: 0em;
	padding-top: 0em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 0em;
}
*/
.toptext {
	color: #ffffff;
	margin-bottom: 7px;
}
.toptext a:hover {
        color: #00ff00;
}

.toptext a:link {
	font-style: normal;
        color: #00dd00;
}

.bartext {
	color: #40ff00;
	font-family: Verdana, Arial, Helvetica;
	font-size: 0.8em;
	padding: 0em;
}

.ahem {
	display: none;
}

