BODY {
	background: white; 
	color: black; 
	font-family: Georgia, Verdana, Arial, Helvetica; 
	font-size: 1.0em;
}

.dochead {
	margin-top: 1.5em;
	font-size: 1.7em;
	font-weight: bold;
}

.chaphead { 
/*	margin: 1.2em 14% 0.5em 3%;  */
	font-size: 1.3em; 
	font-weight: bold; 
}

.chapnum {
	font-size: 0.8em;
}

.secthead {
/*	margin: 1.0em 14% 0.2em 4%;*/
	color: #7a5ada;
	font-size: 1.0em; 
	font-weight: bold; 
	font-family: Verdana, Arial, Helvetica;
/*	text-decoration: underline; */
}


a.highlight:link { color: #00ff00; text-decoration: none; }
a.highlight:visited { color: #00ff00; text-decoration: none; }
a.highlight:hover { color: #00ff00; text-decoration: underline; }
a.highlight:active { color: #00ff00; text-decoration: underline; }

a.menulink:link { color: #a0a0d0; text-decoration: none; }
a.menulink:visited { color: #a0a0d0; text-decoration: none; }
a.menulink:hover { color: #00ff00; text-decoration: underline; }
a.menulink:active { color: #00ff00; text-decoration: underline; }

a.oldlink:link { color: #9090c0; text-decoration: none; }
a.oldlink:visited { color: #9090c0; text-decoration: none; }
a.oldlink:hover { color: #00ff00; text-decoration: underline; }
a.oldlink:active { color: #00ff00; text-decoration: underline; }

.menu {
	font-size: 0.75em;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica;
	color: #c0c0f0;
	padding-left: 1.0em;
	padding-right: 1.0em;
	padding-top: 0.5em;
	padding-bottom: 0.75em;
/*	background: black; */
}

.infotab {
	background: #ddddff;
	/*
	background: #e7e6ea;	
	*/
	padding: 0.5em;
	margin-top: 1.0em;
	margin-left: 1.0em;
	margin-bottom: 1.0em; 
}

.infohead {
	font-size: 0.7em;	
	font-family: Verdana, Arial, Helvetica;
/*	padding: 0.25em; */
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-left: 1.0em;
	margin-left: 1.0em;
	color: #ffffff;
	font-weight: bold;
	background: #7a5ada;
}

.infosub {
	margin-top: 0.25em;
	margin-bottom: 0.15em;
	margin-left: 0em;
	margin-right: 0.5em;
	padding: 0em;
	font-weight: bold;
}

.infolist {
	margin-top: 0.05em;
	margin-bottom: 0.05em;
	margin-left: 1.0em;
	margin-right: 0.5em;
	padding: 0em;
	padding-top: 0.3em;
}

.infogfx {
	background: #e7e6ea;
	padding: 0em;
}

.infotext {
	font-size: 0.7em;	
	font-family: Verdana, Arial, Helvetica;
	color: #320f61;
	margin-left: 1.5em;
	margin-right: 1.5em;
}
/*
.chaphead {
        margin: 1.2em 14% 0.5em 3%;
        font-size: 1.6em;
        font-weight: bold;
}
*/
.copyright {
        padding-left: 1.0em;
        padding-right: 1.0em;
        margin: 0em 0% 0.2em 0%;
        font-size: 0.7em;
        font-family: Verdana, Arial, Helvetica;
	text-align: right;
	background: #ffffff;
	color: #808080;
}

.copyright:link {
	text-decoration: underline;
	color: #808080;
}

.copyright:visited {
	text-decoration: underline;
	color: #808080;
}

.copyright:hover { 
	text-decoration: underline;
	color: #0000ff;
	
}

.subhead {
	font-family: Georgia, Verdana, Arial, Helvetica;
	font-size: 1.2em;
	font-weight: bold;
	/*margin: 0.5em 0% 0.5em 0%;*/
}

.content {
	/*padding: 3em;*/
	padding-top: 0em;
	padding-left: 1.0em;
	padding-right: 1.0em; 
	font-family: Georgia, Times, Sans-serif;
	font-size: 0.9em;
}

.ntable {
	padding: 0em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.ncontent {
	/*content with no padding, for an ugly Netscape 4.7 compatibility hack*/
	padding: 0em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-family: Georgia, Times, Sans-serif;
	font-size: 0.9em;
}

PRE {
	padding: 0.5em;
	background: #ddddff;
	font-family: Lucida Console, Courier;
	color: #000000;
	font-size: 0.75em;
}

.input {
	color: #0000ff;
}

.comment {
	color: #ff0000; 
}

.code {
	font-family: Lucida Console, Courier;
	color: #0000ff;
	font-size: 0.9em;
}

.path {
	font-family: Lucida Console, Courier;
	font-size: 0.9em;
}

.emphasis {
	font-style: italic;
}

P.note {
	background: #bbffbb;
	padding: 0.5em;
}

P.impo {
	background: #ffffbb;
	padding: 0.5em;
}

P.warn {
	background: #ffbbbb;
	padding: 0.5em;
}

.contentbox {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 0.8em;
}

.logobg {
	background: #45347b;
}

.top {
	background: black;
	font-family: Verdana, Arial, Helvetica;
	font-size: 0.8em;
	color: #c0c0c0;
	padding: 0em;
	margin: 0em;
}

.topnews {
	background: #5f4e4e;
	color: white;
}

.tophead {
	color: #a7f3fe;
	font-weight: bold;
	margin: 0em;
}

.tableinfo {
	padding-left: 1.0em;
	padding-right: 1.0em;
	font-size: 0.7em; 
	background: #ddddff;
	font-weight: bold; 
	font-family: Verdana, Arial, Helvetica;
}

/*
UL {
	margin: 0em;
	padding-top: 0em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 0em;
}

LI {
	padding-bottom: 0.3em;
}
*/
.toptext {
	color: #ffffff;
	margin-bottom: 7px;
}
.toptext a:hover {
        color: #00ff00;
}

.toptext a:link {
	font-style: normal;
        color: #00dd00;
}

.bartext {
	color: #40ff00;
	font-family: Verdana, Arial, Helvetica;
	font-size: 0.8em;
	padding: 0em;
}
