[Desktop Entry]
Name=IfpGui
GenericName=iRiver's iFP manager
GenericName[pl]=Menedżer odtwarzaczy iFP iRiver
Comment=Graphicsl user interface (GUI) for iRiver's iFP flash player
Comment[pl]=Graficzny interfejs użytkownika (GUI) dla odtwarzaczy flash serii iFP iRiver
Exec=ifpgui
Type=Application
Terminal=false
Categories=AudioVideo;
Icon=ifpgui
