#!/sbin/runscript
# Copyright 1999-2004 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/net-misc/fakeidentd/files/fakeidentd.rc,v 1.5 2004/07/14 23:58:18 agriffis Exp $

depend() {
	need net
}

start() {
	ebegin "Starting fakeidentd"
	fakeidentd ${FAKEIDENTD_OPTS}
	eend $?
}

stop() {
	ebegin "Stopping fakeidentd"
	[ -e /var/run/fakeidentd.pid ] \
		&& kill `cat /var/run/fakeidentd.pid` \
		&& rm -f /var/run/fakeidentd.pid
	eend $?
}
