[Desktop Entry]
Name=gDesklets
Type=Application
Encoding=UTF-8
Version=1.0
Categories=Utility;
X-GNOME-Autostart-enabled=true
Exec=gdesklets start
Icon=gdesklets
GenericName=Desktop Widgets
Comment=Eye candy for your desktop
GenericName[es]=Widgets para Escritorio
