#!/sbin/runscript
# Copyright 1999-2004 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/net-irc/irc-server/files/ircd.rc,v 1.2 2004/07/12 23:04:09 swegener Exp $

depend() {
	need net
}

start() {
	ebegin "Starting ircd"
	start-stop-daemon --start --quiet --exec /usr/sbin/ircd
	eend ${?}
}

stop() {
	ebegin "Stopping ircd"
	start-stop-daemon --stop --quiet --pidfile /var/run/ircd/ircd.pid
	eend ${?}
}
