#!/sbin/runscript
# Copyright 1999-2007 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/sys-fs/mdadm/files/mdraid.rc,v 1.4 2008/06/28 16:44:39 vapier Exp $

depend() {
	if [ ! -e /sbin/functions.sh ] ; then
		# on baselayout-1 this could cause
		# dependency-cycles with checkroot (before *)
		before checkfs fsck
		after modules
	fi
}

start() {
	if [ -e /sbin/functions.sh ] ; then
		eerror "The ${SVCNAME} init script is written for baselayout-2"
		eerror "Please do not use it with baselayout-1"
		return 1
	fi

	start_addon raid
}

stop() {
	stop_addon raid
}
