#!/sbin/runscript
# Copyright 1999-2004 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/net-fs/am-utils/files/amd.rc,v 1.2 2004/07/14 23:33:06 agriffis Exp $

depend() {
	need localmount
	use ypbind nfs
}

start() {
	ebegin "Starting amd"
	start-stop-daemon --start --quiet --exec /usr/sbin/amd -- -F /etc/amd/amd.conf
	eend $? "Failed to start amd"
}

stop() {
	ebegin "Stopping amd"
	start-stop-daemon --stop --quiet --exec /usr/sbin/amd
	eend $? "Failed to stop amd"
}
