#!/sbin/runscript
# Copyright 1999-2004 Gentoo Technologies, Inc.
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/sys-apps/tpctl/files/apmiser.rc,v 1.3 2004/03/06 04:09:34 vapier Exp $

start() {
	ebegin "Starting Thinkpad Battery Maximiser"
	start-stop-daemon --start --background --quiet --make-pidfile \
		--pidfile /var/run/apmiser.pid --exec /usr/sbin/apmiser
	eend $?
}

stop () {
	ebegin "Shutting down Thinkpad Battery Maximiser"
	start-stop-daemon --stop --quiet --pid /var/run/apmiser.pid
	eend $?
}
