#!/sbin/runscript
# Copyright 1999-2003 Gentoo Technologies, Inc.
# Distributed under the terms of the GNU General Public License, v2 or later
# $Header: /var/cvsroot/gentoo-x86/sys-apps/tpctl/files/apmiser.rc,v 1.2 2003/02/14 23:27:00 vapier Exp $


start() {
	ebegin "Starting Thinkpad Battery Maximiser"
	start-stop-daemon --start --background --quiet --make-pidfile \
            --pidfile /var/run/apmiser.pid --exec /usr/sbin/apmiser
	eend $?
}

stop () {
	ebegin "Shutting down Thinkpad Battery Maximiser"
	start-stop-daemon --stop --quiet --pid /var/run/apmiser.pid
	eend $?
}
