[Desktop Entry]
Comment=A database administration tool for Firebird DBMS.
NoDisplay=false
Name=FlameRobin
Encoding=UTF-8
Exec=/usr/bin/flamerobin
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/fricon.xpm

