#!/sbin/runscript
# Copyright 1999-2004 Gentoo Foundation
# Distributed under the terms of the GNU General Public License, v2 or later

opts="start stop restart"

depend() {
	need net
}

checkconfig() {

	HOSTNAME=`hostname`

	if [ ! -e /usr/spool/PBS/server_name ] ; then
		eerror "Missing config file /usr/spool/PBS/server_name"
		return 1
	else
		PBS_SERVER_NAME=`cat /usr/spool/PBS/server_name`
		if [ ${HOSTNAME} == ${PBS_SERVER_NAME} ] ; then
			PBS_START_SERVER=1;
		else
			PBS_START_SERVER=0;
		fi
	fi

	if [ ! -e /usr/spool/PBS/mom_priv/config ] ; then
		eerror "Missing config file /usr/spool/PBS/mom_priv/config"
		return 1
	else
		PBS_START_MOM=1;
	fi

	if [ "${PBS_START_SERVER}" -eq 1 ] ; then
		if [ ! -e /usr/spool/PBS/server_priv/nodes ] ; then
			eerror "The startup script has detected this node is a server"
			eerror "from the file /usr/spool/PBS/server_name,"
			eerror "but the config file /usr/spool/PBS/server_priv/nodes is missing"
			return 1
		fi
	fi

}

start() {
	checkconfig || return 1

	if [ "${PBS_START_MOM}" -gt 0 ] ; then
		ebegin "Starting pbs_mom"
		start-stop-daemon --start --pidfile /usr/spool/PBS/mom_priv/mom.lock \
			--startas /usr/sbin/pbs_mom
	fi

	if [ "${PBS_START_SERVER}" -gt 0 ] ; then
		ebegin "Starting pbs_server"
		start-stop-daemon --start --quiet --pidfile /usr/spool/PBS/server_priv/server.lock \
			--startas /usr/sbin/pbs_server
		ebegin "Starting pbs_sched"
		start-stop-daemon --start --quiet --pidfile /usr/run/pbs_sched.pid \
			--startas /usr/sbin/pbs_sched
	fi

	eend $?
}

stop() {
	if [ -e /usr/spool/PBS/mom_priv/mom.lock ] ; then
		ebegin "Stopping pbs_mom"
		start-stop-daemon --stop --pidfile /usr/spool/PBS/mom_priv/mom.lock
		rm -f /usr/spool/PBS/mom_priv/mom.lock
	fi

	if [ -e /usr/spool/PBS/server_priv/server.lock ] ; then
		ebegin "Stopping pbs_server"
		qterm -t immediate
		rm -f /usr/spool/PBS/server_priv/server.lock
	fi

	if [ -e /usr/spool/PBS/sched_priv/sched.lock ] ; then
		ebegin "Stopping pbs_sched"
		start-stop-daemon --stop --pidfile /usr/spool/PBS/sched_priv/sched.lock
		rm -f /usr/spool/PBS/sched_priv/sched.lock
	fi

	sleep 3

	eend $?
}
