#!/sbin/runscript
# Copyright 1999-2003 Gentoo Technologies, Inc.
# Distributed under the terms of the GNU General Public License, v2 or later

opts="start stop status"

VPNCLIENT="/usr/bin/vpnclient"
VPNDEV="cipsec0"
VPNMOD="cisco_ipsec"
if [ -x /usr/bin/id ]; then
    ID="/usr/bin/id"
elif [ -x /bin/id ]; then
    ID="/bin/id"
else
    echo "Unable to determine access level"
    exit 1
fi
WHOAMI=`$ID|sed -e 's/(.*//'`

depend() {
	need net
}

start() {
	ebegin "Starting Cisco VPN Client: "

	if [ -f /etc/resolv.conf.vpnbackup ]; then
		echo "restoring /etc/resolv.conf"
		mv /etc/resolv.conf.vpnbackup /etc/resolv.conf
	fi
	if [ -d /lib/modules/preferred ]; then
		PC=/lib/modules/preferred/CiscoVPN
	else
		PC=/lib/modules/`uname -r`/CiscoVPN
	fi
	if [ -d $PC ] ; then
		/sbin/modprobe -q ${PC}/${VPNMOD}
		if [ "$?" != "0" ] ; then
			echo "Failed to load module ${VPNMOD}"
			exit 1
		fi
	else
		echo "module directory $PC not found."
		exit 1
	fi
	case "`uname -r`" in
		2.6.*)
		;;
		2.5.*)
		;;
		2.4.*)
		;;
		2.2.*)
		;;
		2.0.*)
			#
			# This is only needed due to a bug in 2.0.x kernels that affects
			# arp lookups.
			#
			ifconfig $VPNDEV 222.222.222.222 ;
			if [ "$?" != "0" ] ; then
				echo "Failed (ifconfig)"
				/sbin/modprobe -qr ${VPNMOD}
				exit 1
			fi
		;;
		*)
			echo "Failed (unsupported Linux version)"
			/sbin/modprobe -qr ${VPNMOD}
			exit 1
		;;
	esac
	eend $? 
}

stop() {
	ebegin "Stopping Cisco VPN Client: "
	if [ -x $VPNCLIENT ]; then
		$VPNCLIENT disconnect > /dev/null 2>&1
	fi
	/sbin/lsmod | grep -q "${VPNMOD}"
	if [ "$?" != "0" ] ; then 
		echo "module ${VPNMOD} is not running."
		exit 1
	fi
	/sbin/ifconfig $VPNDEV down
	if [ "$?" != "0" ] ; then
		echo "Failed (ifconfig)"
		exit 1
	fi
	/sbin/modprobe -qr ${VPNMOD}
	if [ "$?" != "0" ] ; then
		echo "Failed (rmmod)"
		exit 1
	fi
	eend $?
}

status() {
	/sbin/lsmod | egrep 'Module'
	/sbin/lsmod | egrep "${VPNMOD}"
	if [ "$?" != "0" ] ; then
		echo
		echo "Status Failed (lsmod ${VPNMOD}) - The VPN module is not loaded."
	fi
	echo
	/sbin/ifconfig $VPNDEV
	if [ "$?" != "0" ] ; then
		echo
		echo "Status Failed (ifconfig ${VPNDEV}) - The virtual interface is not present."
		exit 1
	fi
}
