% -- ptex configuration params added by texmf-update --

% pTeX.
ptex_inputs = .;$TEXMF/{ptex,tex}/{plain,generic,}//
platex209_inputs = .;$TEXMF/{ptex,tex}/{platex209,plain,platex,}//
platex2e_inputs = .;$TEXMF/{ptex,tex}/{platex,latex,generic,}//
TEXINPUTS.platex209 = $platex209_inputs
TEXINPUTS.platex-sjis = $platex2e_inputs
TEXINPUTS.platex-euc = $platex2e_inputs
TEXINPUTS.platex-jis = $platex2e_inputs
TEXINPUTS.platex = $platex2e_inputs
TEXINPUTS.ptex-sjis = $ptex_inputs
TEXINPUTS.ptex-euc = $ptex_inputs
TEXINPUTS.ptex-jis = $ptex_inputs
TEXINPUTS.ptex = $ptex_inputs

BIBINPUTS.jbibtex = .;$TEXMF/{jbibtex,bibtex}/bib//
BSTINPUTS.jbibtex = .;$TEXMF/{jbibtex,bibtex}/bst//

% -- ptex configuration ends here --
