[Desktop Entry]
Name=Terminal Server Client
Comment=Frontend for rdesktop
TryExec=tsclient
Exec=tsclient
Icon=/usr/share/pixmaps/tsclient/tsclient.png
Terminal=0
Type=Application
