[Desktop Entry]
Name=Gtk-Gnutella
Comment=Gtk+ Gnutella Client
Exec=gtk-gnutella
Icon=/usr/share/gtk-gnutella/pixmaps/icon.xpm
Terminal=0
Type=Application
Categories=Application;Network;