[Desktop Entry]
Name=XawDecode
Comment=TV viewer
Comment[da]=TV viser
Comment[de]=TV Betrachter
Comment[es]=Pantalla de TV
Comment[fr]=Visualiseur de TV
Comment[it]=Visualizzatore TV
Comment[nl]=TV tuner
Comment[pl]=Program TV
Comment[ru]=Просмотр TV
Comment[sv]=TV-visare
Exec=xawdecode
Icon=/usr/share/xawdecode/icons/xawdecode-48.png
Type=Application
Categories=Application;AudioVideo;
Terminal=false
