#!/sbin/runscript
# Copyright 1999-2004 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/games-fps/quake3/files/q3ded.rc,v 1.7 2004/07/14 22:15:46 agriffis Exp $

depend() {
	need net
}

start() {
	ebegin "Starting Quake3 dedicated server"
	screen -A -m -d -S q3ded su - games-ded -c "q3ded ${q3_OPTS}"
	eend $?
}

stop() {
	ebegin "Stopping Quake3 dedicated server"
	local pid=`screen -list | grep q3ded | awk -F . '{print $1}' | sed -e s/.//`
	if [ -z "${pid}" ] ; then
		eend 1 "Lost screen session"
	else
		pid=`pstree -p ${pid} | sed -e 's:^.*q3ded::'`
		pid=${pid:1:${#pid}-2}
		if [ -z "${pid}" ] ; then
			eend 1 "Lost q3ded session"
		else
			kill ${pid}
			eend $? "Could not kill q3ded"
		fi
	fi
}

status() {
	screen -list | grep q3ded
}
