[Desktop Entry]
Encoding=UTF-8
Name=PuTTY
Comment[sv]=ssh, ftp och telnet klient
Comment=ssh, ftp and telnet client
Exec=/usr/bin/putty
;Icon=
Terminal=false
Type=Application
Categories=Application;Network;
