#!/sbin/runscript
# Copyright 1999-2004 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/net-misc/entropy/files/entropy.rc,v 1.2 2004/07/14 23:57:55 agriffis Exp $

depend() {
	need net
	use mysql
}

checkconfig() {
	local HOME="`getent passwd ${ENTROPY_USER} | cut -d: -f 6`"
	if [ ! -d ${HOME} ] ; then
		mkdir -p ${HOME}
		chown ${ENTROPY_USER} ${HOME}
	fi
	cd ${HOME}
}

start() {
	checkconfig || return 1
	ebegin "Starting entropy"
	su - ${ENTROPY_USER} -c entropy
	eend $?
}

stop() {
	ebegin "Stopping entropy"
	entropy --kill
	eend $?
}
