[Desktop Entry]
Name=gnokii
Comment=Linux/Unix tool suite for Nokia mobile phones
Comment[pl]=Linuksowy/Uniksowy zestaw narzędzi dla telefonów komórkowych Nokia
Icon=gnokii.png
Exec=xgnokii
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Utility;
