#!/sbin/runscript
# Copyright 1999-2004 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/net-analyzer/ipac-ng/files/ipac-ng.rc,v 1.3 2004/07/14 23:02:05 agriffis Exp $

depend() {
	need net logger
}

start() {
	ebegin "Setting up ipac-ng iptables chains"
	/usr/sbin/fetchipac -S
	/usr/sbin/fetchipac
	eend $?
}

stop() {
	## fetch so we dont loose data
	/usr/sbin/fetchipac

	IPT=/sbin/iptables
	ebegin "Removing ipac-ng iptables settings"

	${IPT} -D INPUT -s 0/0 -d 0/0 -j ipac_in
	${IPT} -D OUTPUT -s 0/0 -d 0/0 -j ipac_out
	${IPT} -D FORWARD -s 0/0 -d 0/0 -j ipac_in
	${IPT} -D FORWARD -s 0/0 -d 0/0 -j ipac_out
	${IPT} -F ipac_in
	${IPT} -F ipac_out
	${IPT} -X ipac_in
	${IPT} -X ipac_out

	rm -f /var/run/ipac.rules /var/run/ipac.status

	eend $?
}
