#!/sbin/runscript
# Copyright 1999-2004 Gentoo Foundation
# Distributed under the terms of the GNU General Public License, v2 or later
# $Header: /var/cvsroot/gentoo-x86/sys-apps/microcode-ctl/files/microcode_ctl.rc,v 1.2 2004/11/14 06:47:21 vapier Exp $

depend() {
	need localmount
}

start() {
	ebegin "Updating microcode"
	/usr/sbin/microcode_ctl -qu -d ${MICROCODE_DEV}
	eend $? "Failed to update microcode via '${MICROCODE_DEV}'"
}
