#!/sbin/runscript
# Copyright 1999-2005 Gentoo Foundation
# Distributed under the terms of the GNU General Public License, v2 or later
# $Header: /var/cvsroot/gentoo-x86/sys-apps/microcode-ctl/files/microcode_ctl.rc,v 1.3 2005/01/08 01:17:49 vapier Exp $

depend() {
	need localmount
}

start() {
	# Make sure the kernel supports the microcode device ...
	# if it doesnt, try to modprobe the kernel module
	grep -qo ' microcode$' /proc/misc || modprobe microcode >& /dev/null

	ebegin "Updating microcode"
	/usr/sbin/microcode_ctl -qu -d ${MICROCODE_DEV}
	eend $? "Failed to update microcode via '${MICROCODE_DEV}'"
}
