#!/sbin/runscript
# Copyright 1999-2002 Gentoo Technologies, Inc.
# Distributed under the terms of the GNU General Public License, v2 or later

depend() {
	need net
	use dns
}

start() {
	ebegin "Starting Darwin Streaming Server"
	start-stop-daemon --quiet --start --exec /usr/sbin/DarwinStreamingServer 
	eend $?
}

stop() {
	ebegin "Stopping Darwin Streaming Server"
	start-stop-daemon --quiet --stop --exec /usr/sbin/DarwinStreamingServer
	eend $?
}
