#!/sbin/runscript
# Copyright 1999-2004 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/mail-filter/spamass-milter/files/spamass-milter.rc,v 1.2 2004/07/14 22:29:01 agriffis Exp $

# NB: Config is in /etc/conf.d/spamass-milter

depend() {
	need net spamd
	use logger
	before sendmail
}

start() {
	ebegin "Starting $DESC"
	start-stop-daemon --start --quiet --make-pidfile --pidfile ${PIDFILE}\
		--exec ${DAEMON} -- -p ${SOCKET} -f
	eend $? "Failed to start ${DAEMON}"
}

stop() {
	ebegin "Stopping $DESC"
	{
		killall ${DAEMON}
		/bin/sleep 5s
		/bin/rm -f ${SOCKET}
		/bin/rm -f ${PIDFILE}
	} && kill -1 `head -n 1 /var/run/sendmail.pid`
	eend $? "Failed to stop ${DAEMON}"
}
