# check scripts in cron.hourly, cron.daily, cron.weekly and cron.monthly
#
-*/15 * * * * 		test -x /usr/sbin/run-crons && /usr/sbin/run-crons 
0 0  * * *			rm -f /var/cron/lastrun/cron.daily
0 0  * * 6			rm -f /var/cron/lastrun/cron.weekly
0 0  1 * *			rm -f /var/cron/lastrun/cron.monthly



