SUBSYSTEM!="scsi_device", GOTO="scsi_hotplug_end"
ACTION!="add", GOTO="scsi_hotplug_end"

ATTRS{type}=="0|7", DRIVERS!="*sd*",	RUN+="/sbin/modprobe sd_mod"
ATTRS{type}=="4|5", DRIVERS!="*sr*",	RUN+="/sbin/modprobe sr_mod"
ATTRS{type}=="1",			RUN+="/sbin/modprobe st"

ATTRS{type}!="",			RUN+="/sbin/modprobe sg"

LABEL="scsi_hotplug_end"
