#!/sbin/runscript

FREENET6_CLIENT="/usr/sbin/gw6c"

depend() {
	need net localmount
	after bootmisc
	use dns logger
}

checkconfig() {
	if [ $(uname -s) = "Linux" ] ; then
		if [ ! -e /dev/net/tun ]; then
			if ! modprobe tun ; then
				eerror "TUN/TAP support is not available" \
					"in this kernel"
				return 1
			fi
		fi
	fi
	return 0
}

start() {
	checkconfig || return 1

	ebegin "Starting Freenet6 IPv6 Client"
	start-stop-daemon --start --quiet \
		--exec $FREENET6_CLIENT -- -f /etc/freenet6/gw6c.conf
	eend $?
}

stop() {
	ebegin "Stopping Freenet6 IPv6 Client"
	start-stop-daemon --stop --quiet -s HUP --exec $FREENET6_CLIENT
	eend $?
}
