[Desktop Entry]
Name=Blender-2.6 (reduced security)
GenericName=3D modeller
GenericName[es]=modelador 3D
GenericName[de]=3D Modellierer
GenericName[fr]=modeleur 3D
GenericName[ru]=Редактор 3D-моделей
Comment=3D modeling, animation, rendering and post-production
Comment[es]=modelado 3D, animación, renderizado y post-producción
Exec=blender-2.60 --enable-autoexec
Icon=blender-2.60
Terminal=false
Type=Application
Categories=Graphics;3DGraphics;
MimeType=application/x-blender;
