[Desktop Entry]
Encoding=UTF-8
Name=Blender
Comment=3D modeling, animation, rendering and post-production.
Exec=blender
Icon=blender
Terminal=0
Type=Application
Categories=Graphics;Application;
