[Desktop Entry]
Name=Blender 2.5x (reduced security)
GenericName=3D modeller (reduced security)
GenericName[es]=modelador 3D (reduced security)
GenericName[de]=3D Modellierer (weniger Sicherheit)
GenericName[fr]=modeleur 3D (reduced security)
GenericName[ru]=Редактор 3D-моделей (reduced security)
Comment=3D modeling, animation, rendering and post-production
Comment[es]=modelado 3D, animación, renderizado y post-producción
Exec=blender-2.5 --enable-autoexec
Icon=blender-2.5.svg
Terminal=false
Type=Application
Categories=Graphics;3DGraphics;
MimeType=application/x-blender;
