#!/sbin/runscript
# Copyright 1999-2004 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/app-accessibility/speechd-up/files/speechd-up.rc,v 1.4 2006/08/28 03:30:50 williamh Exp $

depend() {
	use eflite festival
	need speech-dispatcher
}

start() {
	ebegin "Starting speechd-up"
	start-stop-daemon --start --quiet --nicelevel ${NICE_LEVEL} --exec /usr/bin/speechd-up -- -d
	eend $?
}

stop() {
	ebegin "Stopping speechd-up"
	start-stop-daemon --stop --quiet --pidfile /var/run/speechd-up.pid
	eend $?
}
