#!/sbin/runscript
# Copyright 1999-2004 Gentoo Technologies, Inc.
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/app-accessibility/speechd-up/files/speechd-up.rc,v 1.1 2004/05/03 18:27:09 squinky86 Exp $

depend() {
	use alsasound esound
}

start() {
	ebegin "Starting speechd-up"
	start-stop-daemon --start --quiet --background --exec /usr/bin/speechd_up -- -d
	eend $?
}

stop() {
	ebegin "Stopping speechd-up"
	start-stop-daemon --stop --quiet --pidfile /var/run/speechd-up.pid
	eend $?
}
