#!/sbin/runscript
# Copyright 1999-2006 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/net-misc/dhcpv6/files/dhcp6s.rc,v 1.4 2006/08/28 07:54:27 vapier Exp $

depend() {
	need net
}

checkconfig() {
	if [[ ! -e /etc/dhcp6s.conf ]] ; then
		eerror "You need an /etc/dhcp6s.conf file to run dhcp6s"
		eerror "There is a sample conf file in /usr/share/doc/dhcpv6-[PV]"
		return 1
	fi
}

start() {
	checkconfig || return 1
	ebegin "Starting dhcp6s"
	start-stop-daemon --start --quiet --exec /usr/sbin/dhcp6s
	eend $?
}

stop() {
	ebegin "Stopping dhcp6s"
	start-stop-daemon --stop --quiet --exec /usr/sbin/dhcp6s
	eend $?
}
