[Desktop Entry]
Encoding=UTF-8
Name=Kita2
Exec=kita2 %i %m -caption "%c"
Icon=kita2
Type=Application
Comment=Kita - 2ch client for KDE
Comment[ja]=Kita - KDE用2ちゃんねるブラウザ
Terminal=0
Categories=Application;Network;
