#
# X Font Server configuration file
#

# allow a max of 4 clients to connect to this font server
#client-limit = 4

# no tcp, use sockets!
no-listen  =  tcp

# when a font server reaches its limit, start up a new one
clone-self = on

# alternate font servers for clients to use
#alternate-servers = foo:7101,bar:7102

# where to look for fonts
# Some of these are commented out, i.e. the TrueType and Type1
# directories in /usr/share, because they aren't forced to be
# installed alongside X.
#
catalogue = /usr/X11R6/lib/X11/fonts/75dpi,
	/usr/X11R6/lib/X11/fonts/100dpi,
	/usr/X11R6/lib/X11/fonts/misc,
	/usr/X11R6/lib/X11/fonts/Type1,
	/usr/X11R6/lib/X11/fonts/Speedo,
	/usr/X11R6/lib/X11/fonts/CID,
	/usr/X11R6/lib/X11/fonts/util,
	/usr/X11R6/lib/X11/fonts/local,
	/usr/X11R6/lib/X11/fonts/Speedo,
	/usr/X11R6/lib/X11/fonts/truetype,
	/usr/X11R6/lib/X11/fonts/TTF,
	/usr/X11R6/lib/X11/fonts/cyrillic,
	/usr/X11R6/lib/X11/fonts/freefont,
	/usr/X11R6/lib/X11/fonts/sharefont,
	/usr/share/fonts/default/Type1,
	/usr/share/fonts/ttf/decoratives,
	/usr/share/fonts/ttf/western

# in 12 points, decipoints
default-point-size = 120

# 100 x 100 and 75 x 75
default-resolutions = 75,75,100,100

# how to log errors
use-syslog = on

# font cache control, specified in KB
cache-hi-mark = 2048
cache-low-mark = 1433
cache-balance = 70

