#!/sbin/runscript
# Copyright 1999-2004 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/net-irc/ultimate/files/ultimateircd.rc,v 1.4 2004/07/14 23:47:43 agriffis Exp $

depend() {
	need net
	use dns
}

start() {
	ebegin "Starting ultimate-ircd"
	start-stop-daemon --start --quiet --exec /usr/bin/ultimate-ircd \
		--chuid ${ULTIMATEIRCD_USER}
	eend $?
}

stop() {
	ebegin "Shutting down ultimate-ircd"
	killall ultimate-ircd
	eend $?
}
