#!/sbin/runscript
# Copyright 1999-2004 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/app-laptop/tpctl/files/apmiser.rc,v 1.2 2004/07/14 21:31:16 agriffis Exp $

start() {
	ebegin "Starting Thinkpad Battery Maximiser"
	start-stop-daemon --start --background --quiet --make-pidfile \
		--pidfile /var/run/apmiser.pid --exec /usr/sbin/apmiser
	eend $?
}

stop () {
	ebegin "Shutting down Thinkpad Battery Maximiser"
	start-stop-daemon --stop --quiet --pid /var/run/apmiser.pid
	eend $?
}
