#!/sbin/runscript
# Copyright 1999-2004 Gentoo Technologies, Inc.
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/net-dialup/bpalogin/files/bpalogin.rc,v 1.2 2004/03/04 19:07:18 vapier Exp $

depend() {
	need net
}

start() {
	ebegin "Starting bpalogin"
	/usr/sbin/bpalogin -c /etc/bpalogin.conf
	eend $?
}

stop() {
	ebegin "Stopping bpalogin"
	killall -9 bpalogin
	eend $?
}
