#!/sbin/runscript
# Copyright 1999-2003 Gentoo Technologies, Inc.
# Distributed under the terms of the GNU General Public License, v2 or later
# $Header: /var/cvsroot/gentoo-x86/net-dialup/bpalogin/files/bpalogin.rc,v 1.1 2003/11/23 09:22:46 lanius Exp $

depend() {
        need net
}

start() {
        /usr/sbin/bpalogin -c /etc/bpalogin.conf
        eend $?
}

stop() {
        killall -9 bpalogin
        eend $?
}
