#!/sbin/runscript
# Copyright 1999-2004 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/net-ftp/jftpgw/files/jftpgw.rc,v 1.4 2004/10/05 22:25:15 vapier Exp $

depend() {
	use net
}

start() {
	ebegin "Starting jftpgw"
	jftpgw
	eend $?
}

stop() {
	ebegin "Stopping jftpgw"
	kill `</var/run/jftpgw.pid`
	rm /var/run/jftpgw.pid
	eend $?
}
