# Format is: HOST PROTOCOL [OPTIONS]
# HOST = IP or DNS
# PROTOCOL = smtp | qmtp
# OPTIONS = [--port=NUMBER] [--auth=user,pass]
#
# Examples:
# A standard SMTP server:
# somesendmailserver.domain.com smtp
#
# A qmail server with QMQP setup:
# someqmailserver.domain.com qmqp
#
# A nonstandard SMTP server setup:
# someotherserver.domain.com smtp --port=2525
#
# As of 1.00, nullmailer also supports SMTP AUTH
# mailserver smtp --auth=user,pass
