#!/sbin/runscript 
# This init script controls the pppoe connection for adsl lines. 
# Distributed under the terms of the GNU General Public License v2 
 
depend() { 
        need net
		after domainname
} 
 
start() { 
        ebegin "Starting adsl" 
        start-stop-daemon --start --quiet --exec /usr/sbin/adsl-start
        eend $? 
} 
 
stop() { 
        ebegin "Stopping adsl" 
        start-stop-daemon --start --quiet --exec /usr/sbin/adsl-stop
        eend $? 
}
