#!/sbin/runscript
# Copyright 1999-2004 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/net-dialup/rp-pppoe/files/rp-pppoe.rc,v 1.5 2004/07/14 23:19:34 agriffis Exp $

depend() {
	need net
	after domainname
}

start() {
	ebegin "Starting adsl"
	start-stop-daemon --start --quiet --exec /usr/sbin/adsl-start
	eend $?
}

stop() {
	ebegin "Stopping adsl"
	start-stop-daemon --start --quiet --exec /usr/sbin/adsl-stop
	eend $?
}
