[Desktop Entry]
Name=Mozilla Thunderbird (bin)
Comment=Mail & News Reader
Exec=/usr/bin/thunderbird-bin
Icon=thunderbird-bin-icon.png
Terminal=false
Type=Application
Categories=Application;Network;
