#!/sbin/runscript
# Copyright 1999-2008 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/sys-auth/nss-ldapd/files/nslcd.rc,v 1.1 2008/12/04 22:17:14 cardoe Exp $

depend() {
	need net	
}

start() {
	start-stop-daemon --start --pidfile /var/run/nslcd/nslcd.pid \
		--exec /usr/sbin/nslcd
}

stop() {
	start-stop-daemon --stop --pidfile /var/run/nslcd/nslcd.pid
}
