#!/sbin/runscript
# Copyright 1999-2004 Gentoo Technologies, Inc.
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/app-accessibility/speechd/files/speechd.rc,v 1.1 2004/03/17 03:40:52 eradicator Exp $ 

depend() {
	need festival
}

start() {
	ebegin "Starting speechd"
	start-stop-daemon --start --quiet --exec /usr/bin/speechd -- -Q
	eend $?
}

stop() {
	ebegin "Stopping speechd"
	start-stop-daemon --stop --quiet --pidfile /var/run/speechd.pid
	eend $?
}
