[Desktop Entry]
Comment=R A I N E  M680x0 Arcade Emulation
Exec=/usr/bin/raine
Icon=/usr/share/icons/Raine16X16.png
Name=Raine
Path=/usr/share/raine
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
