[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=bsh.Console
Terminal=false
Name=BeanShell Prompt
GenericName=Java Command Prompt
Comment=An interactive Java command prompt
Categories=Application;Development
Icon=/usr/share/pixmaps/beanshell-icon.png