[Desktop Entry]
Name=Sawfish
Name[da]=Sawfish
Name[de]=Sawfish
Name[es]=Sawfish
Name[fi]=Sawfish
Name[fr]=Sawfish
Name[gl]=Sawfish
Name[hu]=Sawfish
Name[ja]=Sawfish
Name[ko]=Sawfish
Name[no]=Sawfish
Name[pl]=Sawfish
Name[ru]=Sawfish
Name[sk]=Sawfish
Name[sl]=Sawfish
Name[sv]=Sawfish
Name[uk]=Sawfish
Name[wa]=Sawfish
NAme[tr]=Sawfish
Exec=sawfish
TryExec=sawfish

[Window Manager]
ConfigExec=sawfish-ui
ConfigTryExec=sawfish-ui
SessionManaged=true
