#!/sbin/runscript

depend() {
	need modules
}

checkconfig() {
	if [ ! -d /etc/hotplug ]
	then
		eerror "USB Hotplug requires scripts & configs in /etc/hotplug !"
		return 1
	fi
}

start() {
	local error
	checkconfig || return 1
	ebegin "Starting USB Hotplug "
	for RC in /etc/hotplug/*.rc
	do
		$RC start
		error=$?
		if [ error ]
		then
			eend ${error} "hotplug script $RC failed at start "
			return 1
		fi
	done
	touch /var/lock/subsys/hotplug
	eend
}

stop() {
	local error
	checkconfig || return 1
	ebegin "Stopping USB Hotplug "
	for RC in /etc/hotplug/*.rc
	do
		$RC stop
		error=$?
		if [ error ]
		then
			eend ${error} "hot plug script $RC failed at stop "	
			return 1					
		fi
	done
	rm -f /var/lock/subsys/hotplug
	eend
}


