#!/sbin/runscript
# Copyright 1999-2002 Gentoo Technologies, Inc.
# Distributed under the terms of the GNU General Public License, v2 or later
# /space/gentoo/cvsroot/gentoo-x86/sys-apps/hotplug/files/hotplug.rc,v 1.2 2002/02/25 23:02:14 woodchip Exp

depend() {
	need modules
}

checkconfig() {
	if [ ! -d /etc/hotplug ] ; then
		eerror "Hotplug requires scripts & configs in /etc/hotplug !"
		return 1
	fi
}

start() {
	local error
	checkconfig || return 1
	ebegin "Starting USB and PCI hotplugging"
	for RC in /etc/hotplug/*.rc
	do
		$RC start
		error=$?
		if [ $error -ne 0 ] ; then
			eend ${error} "hotplug script $RC failed at start"
			return 1
		fi
	done
	eend
}

stop() {
	local error
	ebegin "Stopping USB and PCI hotplugging"
	for RC in /etc/hotplug/*.rc
	do
		$RC stop
		error=$?
		if [ $error -ne 0 ] ; then
			eend ${error} "hot plug script $RC failed at stop"
			return 1
		fi
	done
	eend
}
