#!/sbin/runscript
# $Header: /var/cvsroot/gentoo-x86/app-admin/smartsuite/files/smartd.rc,v 1.1 2002/07/23 23:28:34 agenkin Exp $

depend() {
	need localmount
}

start() {
	ebegin "Starting S.M.A.R.T: monitoring daemon ..."
	start-stop-daemon --start --exec /sbin/smartd
	eend $?
}

stop() {
	ebegin "Stopping S.M.A.R.T: monitoring daemon ..."
	start-stop-daemon --stop --exec /sbin/smartd
	eend $?
}
