[Desktop Entry]
Encoding=UTF-8
Name=Seaview
Comment=Multiple Sequence Alignment Tool
Exec=seaview
Icon=seaview.xpm
Terminal=false
Type=Application
Categories=Application;Graphics;Science;
