# check scripts in cron.hourly, cron.daily, cron.weekly and cron.monthly
# for vixie cron
# remember to give cron a sighup when updating this file
#
# $Header: /var/cvsroot/gentoo-x86/sys-apps/vcron/files/crontab,v 1.5 2003/12/12 18:06:54 pebenito Exp $
#
#
*/15 * * * *	root	test -x /usr/sbin/run-crons && /usr/sbin/run-crons 
0  *  * * *	root	rm -f /var/spool/cron/lastrun/cron.hourly
0  3  * * *	root	rm -f /var/spool/cron/lastrun/cron.daily
15 4  * * 6	root	rm -f /var/spool/cron/lastrun/cron.weekly
30 5  1 * *	root	rm -f /var/spool/cron/lastrun/cron.monthly
