[Desktop Entry]
Name=Drip
Comment=A DVD to DIVX convertor frontend
Exec=drip
Icon=drip.jpg
Terminal=0
Type=Application
Categories=Application;AudioVideo;
