#!/sbin/runscript
# Copyright 2009 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/sys-apps/sreadahead/files/sreadahead.rc,v 1.2 2009/03/28 03:13:02 darkside Exp $

description="Start sreadahead daemon"

depend() {
	need localmount
	before clock bootmisc consolefont keymaps rmnologin serial urandom
}

start() {
	ebegin "Starting sreadahead"
	/sbin/sreadahead
	eend $?
}

# vim: ts=4 sw=4
