#!/sbin/runscript
# Copyright 2009 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/sys-apps/sreadahead/files/sreadahead.rc,v 1.1 2009/01/23 05:57:56 darkside Exp $

description="Start sreadahead daemon"

depend() {
	need localmount
	before clock bootmisc consolefont keymaps rmnologin serial urandom
}

start() {
	PACKFILE="/etc/readahead.packed"

	if ! [ -f $PACKFILE ]
	then
		ewarn "Cannot find sreadahead pack file $PACKFILE"
		return 1
	fi

	ebegin "Starting sreadahead"
	/sbin/sreadahead
	eend $?
}

# vim: ts=4 sw=4
