#!/sbin/runscript
# Copyright 1999-2007 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/net-misc/ntp/files/ntp-client.rc,v 1.9 2007/01/09 17:51:14 vapier Exp $

depend() {
	before cron portmap
	need net
	use dns logger
}

checkconfig() {
	if ! type -p ${NTPCLIENT_CMD} > /dev/null ; then
		eerror "Please edit /etc/conf.d/ntp-client"
		eerror "Unable to locate the client command ${NTPCLIENT_CMD}!"
		return 1
	fi
	if [[ -z ${NTPCLIENT_OPTS} ]] ; then
		eerror "Please edit /etc/conf.d/ntp-client"
		eerror "I need to know what server/options to use!"
		return 1
	fi
	return 0
}

start() {
	checkconfig || return $?

	ebegin "Setting clock via the NTP client '${NTPCLIENT_CMD}'"
	${NTPCLIENT_CMD} ${NTPCLIENT_OPTS} >/dev/null &
	eend $? "Failed to set clock"
}
