#!/sbin/runscript
# Copyright 1999-2003 Gentoo Technologies, Inc.
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/net-misc/ntp/files/ntp-client-4.1.2.rc,v 1.1 2004/02/16 01:56:32 vapier Exp $

depend() {
	before cron
	need net
	use dns logger
}

checkconfig() {
	if [ ! -x "`which ${NTPCLIENT_CMD} 2>/dev/null`" ] ; then
		eerror "Please edit /etc/conf.d/ntp-client"
		eerror "Unable to locate the client command ${NTPCLIENT_CMD}!"
		return 1
	fi
	if [ -z "${NTPCLIENT_OPTS}" ] ; then
		eerror "Please edit /etc/conf.d/ntp-client"
		eerror "I need to know what server/options to use!"
		return 1
	fi
	return 0
}

start() {
	checkconfig || return $?

	ebegin "Setting clock via the ntp client '${NTPCLIENT_CMD}'"
	${NTPCLIENT_CMD} >/dev/null ${NTPCLIENT_OPTS}
	eend $? "Failed to set clock"
}
