#!/sbin/runscript
# Copyright 1999-2003 Gentoo Technologies, Inc.
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/net-misc/ntp/files/ntpd-4.1.2.rc,v 1.1 2004/02/14 22:58:02 vapier Exp $

depend() {
	need net
	use dns logger
	after ntp-client
}

checkconfig() {
	if [ ! -f /etc/ntp.conf ] ; then
		eerror "Please create /etc/ntp.conf"
		eerror "Sample conf: /usr/share/ntp/ntp.conf"
		return 1
	fi
	return 0
}

start() {
	checkconfig || return $?

	ebegin "Starting ntpd"
	touch /var/run/ntpd.pid
	chown ntp:ntp /var/run/ntpd.pid
	start-stop-daemon --start --quiet --pidfile /var/run/ntpd.pid \
		--startas /usr/bin/ntpd -- -p /var/run/ntpd.pid ${NTPD_OPTS}
	eend $? "Failed to start ntpd"
}

stop() {
	ebegin "Stopping ntpd"
	start-stop-daemon --stop --quiet --pidfile /var/run/ntpd.pid
	eend $? "Failed to stop ntpd"
}
