
$db_host = "tmphost"; 
$db_port = 3306; 
$db_name = "tmpdbname"; 
$db_user = "tmpdbuser"; 
$db_pass = "tmpdbpass"; 

$answer{'ADMIN_OK'} = 'Y'; 
$answer{'ADMIN_EMAIL'} = 'tmpadmemail'; 
$answer{'ADMIN_PASSWORD'} = 'tmpadmpwd'; 
$answer{'ADMIN_REALNAME'} = 'tmpadmname'; 

