[Desktop Entry]
Comment=Visual Molecular Dynamics
Exec=/usr/bin/vmd
GenericName=Visual Molecular Dynamics
Icon=/usr/share/pixmaps/vmd.png
Name=VMD
NoDisplay=false
Path=$HOME
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
Categories=Science;Application;
X-KDE-SubstituteUID=false
