#!/sbin/runscript

depend() {
	need net
}

start() {
	ebegin "Starting londonlaw server"
	start-stop-daemon --start --pidfile /var/run/london-server.pid \
		--user GAMES_USER_DED --background --stdout GAMES_LOGDIR/PN.log \
		--stderr GAMES_LOGDIR/PN.log --make-pidfile \
		--exec GAMES_BINDIR/london-server -- -p $LONDONLAW_PORT
	eend $?
}

stop() {
	ebegin "Stopping londonlaw server"
	start-stop-daemon --stop --pidfile /var/run/london-server.pid \
		--exec GAMES_BINDIR/london-server
	eend $?
}
