#!/sbin/runscript
# Copyright 1999-2005 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/sys-cluster/cman/files/cman.rc,v 1.3 2005/03/22 01:16:49 xmerlin Exp $

depend() {
	use net
	need ccs
	provide cluster-manager
}

start() {
	if grep -qE "<[[:space:]]*gulm([[:space:]]|[>]|$)" /etc/cluster/cluster.conf
	then
		die "<gulm> section detected in /etc/cluster/cluster.conf"
	fi

	if [ ! -d /proc/cluster/config/cman ]; then
		ebegin "Loading cman module"
		modprobe cman
		eend $?
	fi

	ebegin "Starting cman"
	/sbin/cman_tool -t ${CMAN_CLUSTER_TIMEOUT} \
		-w join ${CMAN_JOIN_OPTS} > /dev/null
	
	if [ "$?" -ne 0 ]
	then
		ewend 1 "Failed to start cman"
	else
		eend 0
		
		# make sure that we are quorate?  
		if [ ${CMAN_QUORUM_TIMEOUT} -gt 0 ]
		then
			/sbin/cman_tool -t ${CMAN_QUORUM_TIMEOUT} -q wait
		fi
	fi
}

stop() {
	ebegin "Stopping cman"
	/sbin/cman_tool -t ${CMAN_SHUTDOWN_TIMEOUT} \
		-w leave ${CMAN_LEAVE_OPTS} > /dev/null
	
	if [ "$?" -ne 0 ]
	then
		ewend 1 "Failed to stop cman"
	else
		eend 0
		ebegin "Unloading cman kernel module"
		modprobe -r cman
		eend $?
	fi

}

