[Desktop Entry]
Name=UT2003-demo
Comment=Unreal Tournament 2003 Demo
Exec=ut2003-demo
Icon=ut2003.png
Terminal=0
Type=Application
Categories=Application;Game;
