#!/sbin/runscript
# Copyright 1999-2004 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/net-nds/nis-utils/files/keyserv.rc,v 1.2 2004/07/15 00:17:17 agriffis Exp $

depend() {
	use logger
	need portmap
	before nfs nfs-mount autofs
}

start() {
	ebegin "Starting keyserv"
	/usr/sbin/keyserv
	eend $?
}

stop() {
	ebegin "Stopping keyserv"
	start-stop-daemon --stop --exec /usr/sbin/keyserv
	eend $?
}
