[Desktop Entry]
Encoding=UTF-8
Name=KeePass
Exec=keepass
Icon=/usr/share/keepass/icons/keepassx.png
Type=Application
DocPath=keepass/index.html
GenericName=Password Manager
Categories=Qt;KDE;
