[Desktop Entry]
Version=1.0
Type=Application
Name=KeePassX
GenericName=Password Manager
GenericName[de]=Passwortverwaltung
Comment=Cross Platform Password Manager
Comment[de]=Plattformübergreifende Passwortverwaltung
Exec=keepass
Icon=keepassx.png
Categories=Qt;KDE;Utility;Security;
