[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=bluej
TryExec=
Icon=/usr/share/bluej/lib/images/bluej-icon.gif
X-GNOME-DocPath=
Terminal=false
Name=BlueJ
GenericName=
Comment=Integrated Development Environment for Java
Categories=Application;Development;
