[Desktop Entry]
Encoding=UTF-8
Name=Fluxbox
Comment=This session logs you into Fluxbox
Exec=fluxbox
TryExec=fluxbox
# no icon yet, only the top three are currently used
Icon=
Type=Application
