[Desktop Entry]
Name=R
Name[pt_BR]=R
Name[da]=R
Nama[ja]=R
Name[no]=R
Name[uk]=R
Comment=Statistical computing and graphics
Comment[pt_BR]=Statistical computing and graphics
Comment[da]=Statistical computing and graphics
Comment[ja]=Statistical computing and graphics
Comment[no]=Statistical computing and graphics
Comment[uk]=Statistical computing and graphics
Exec=R --gui=gnome
Icon=R-logo.png
Terminal=1
Type=Application
