#!/sbin/runscript
# Copyright 1999-2004 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/games-server/hlstats/files/hlstats.rc,v 1.2 2004/07/14 22:22:45 agriffis Exp $

depend() {
	need mysql
}

start() {
	ebegin "Starting hlstats"
	/usr/bin/hlstats &
	local ret=$?
	echo $! > /var/run/hlstats.pid
	eend ${ret}
}

stop() {
	ebegin "Stopping hlstats"
	local pid=$(</var/run/hlstats.pid)
	[ ! -z "${pid}" ] && kill ${pid}
	eend $?
}
