#!/sbin/runscript

depend() {
    need net logger
}

checkconfig() {
    if [ "x$CACHE" == "x" ]; then
	eerror "Please set CACHE in /etc/conf.d/intersync"
	return 1
    fi
    return 0
}

start() {
    checkconfig || return $?
    ebegin "Starting intersync"
    start-stop-daemon --start --pidfile /var/run/intersync.pid \
	--startas /usr/bin/intersync -- $CLIENT_OPTS $CACHE
    eend $? "Failed to start intersync"
}

stop() {
    ebegin "Stopping intersync"
    start-stop-daemon --stop --quiet --pidfile /var/run/intersync.pid
    eend $? "Failed to stop intersync"
}
        	
	