Please note,
while you do not need to do anything special while running cmucl itself
(it is a wrapper script than sets environment appropriately),
you will nee to set few vars before running config. 

The following is the simplest chain of commands launch cmucl config:

cd /opt/cmucl/lib
CMUCLLIB=/opt/cmucl/lib && PATH=$PATH:/opt/cmucl/bin && ./config

