[Desktop Entry]
Name=VMware Workstation
Comment=VMware Workstation
GenericName=Virtual PC Emulator
Exec=vmware
Icon=/opt/vmware/lib/icon/vmware.png
Path=
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
