#!/sbin/runscript
# Copyright 1999-2005 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/sys-cluster/ccs/files/ccsd.rc,v 1.1 2005/03/19 21:00:48 xmerlin Exp $

depend() {
	use net
	before cman fence gfs
	provide ccs
}

exefile=/sbin/ccsd
pidfile=/var/run/ccsd.pid

start() {
	ebegin "Starting ccsd"
	start-stop-daemon --start --quiet \
		--exec ${exefile} -- ${CCSD_OPTS}
	eend $?
}

stop() {
	ebegin "Stopping ccsd"
	start-stop-daemon --stop --quiet --exec ${exefile} > /dev/null
	eend $?
}

