#!/sbin/runscript
# Copyright 1999-2003 Gentoo Technologies, Inc.
# Distributed under the terms of the GNU General Public License, v2 or later
# $Header: /var/cvsroot/gentoo-x86/media-radio/ax25-apps/files/ax25rtd.rc,v 1.1 2003/06/19 19:11:43 rphillips Exp $

depend() {
	need net
}

start() {
	ebegin "Starting ax25rtd"
	start-stop-daemon --start --quiet --background --exec /usr/sbin/ax25rtd
	eend $?
}

stop() {
	ebegin "Stopping ax25rtd"
	start-stop-daemon --stop --quiet --exec /usr/sbin/ax25rtd
	eend $?
}
