[Desktop Entry]
Type=Application
Exec=visualregexp
Icon=/usr/share/pixmaps/visualregexp/visualregexp-icon.png
Name=Visual Regexp
Comment=An interactive regular expression editor
Categories=Development;
