#!/sbin/runscript
# Copyright 1999-2004 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/sys-apps/powernowd/files/powernowd.rc,v 1.2 2004/07/15 00:48:52 agriffis Exp $

depend() {
	need localmount
	use logger
}

start() {
	ebegin "Starting powernowd"
	/usr/sbin/powernowd	-q ${POWERNOWD_OPTS}
	eend $?
}

stop() {
	ebegin "Stopping powernowd"
	start-stop-daemon --stop --exec /usr/sbin/powernowd
	eend $?
}
