#!/sbin/runscript
# Copyright 1999-2004 Gentoo Technologies, Inc.
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/sys-apps/powernowd/files/powernowd.rc,v 1.1 2004/04/05 23:50:27 vapier Exp $

depend() {
	need localmount
	use logger
}

start() {
	ebegin "Starting powernowd"
	/usr/sbin/powernowd	-q ${POWERNOWD_OPTS}
	eend $?
}

stop() {
	ebegin "Stopping powernowd"
	start-stop-daemon --stop --exec /usr/sbin/powernowd
	eend $?
}
