#!/sbin/runscript
# Copyright 1999-2004 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/net-www/lingerd/files/lingerd.rc,v 1.1 2005/01/08 23:21:48 hollow Exp $


depend() {
	need net
}

start() {
	ebegin "Starting lingerd"
	/sbin/start-stop-daemon -c apache -o --quiet --start --startas /usr/bin/lingerd --pidfile /var/run/lingerd/lingerd.pid  
	eend $?
}

stop() {
	ebegin "Stopping lingerd"
	start-stop-daemon -o --quiet --stop --pidfile /var/run/lingerd/lingerd.pid
	eend $?
}

restart() {
	ebegin "restarting"
	svc_stop
	svc_start

}
