#!/sbin/runscript
# Copyright 1999-2004 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/games-server/halflife-server/files/hlds.rc,v 1.3 2004/07/14 22:20:39 agriffis Exp $

depend() {
	need net
}

start() {
	ebegin "Starting halflife dedicated"
	screen -A -m -d -S hlds su - GENTOO_GAMES_USER -c "GENTOO_DIR/hlds ${HLDS_OPTS}" &
	eend $?
}

stop() {
	ebegin "Stopping halflife dedicated"
	local ppid=`screen -list | grep hlds | awk -F . '{ print $1 }' | sed -e s/.//`
	if [ -z "${ppid}" ] ; then
		eend 1 "Lost screen session"
	else
		local cpid=`pstree -p ${ppid} | sed -e 's:^.*hlds_run(::' -e 's:).*$::'`
		kill ${ppid} ${cpid}
		eend $? "Could not kill hlds"
	fi
}
