#!/sbin/runscript
# Copyright 1999-2003 Gentoo Technologies, Inc.
# Distributed under the terms of the GNU General Public License, v2 or later
# $Header: /var/cvsroot/gentoo-x86/dev-util/cvsup/files/cvsupd.rc,v 1.2 2003/02/14 22:44:21 vapier Exp $

depend() {
	need net
}

start() {
	ebegin "Starting cvsupd"
	start-stop-daemon --start --quiet --background --exec /usr/bin/cvsupd \
		-- ${MYCVSUPD_OPTS}
	eend $? "Failed to start cvsupd"
}

stop() {
	ebegin "Stopping cvsupd"
	start-stop-daemon --stop --quiet --exec /usr/bin/cvsupd
	eend $? "Failed to stop cvsupd"
}
