#!/sbin/runscript
# Copyright 1999-2004 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/dev-util/cvsup/files/cvsupd.rc,v 1.4 2004/07/14 22:09:53 agriffis Exp $

depend() {
	need net
}

start() {
	ebegin "Starting cvsupd"
	start-stop-daemon --start --quiet --background --exec /usr/bin/cvsupd \
		-- ${MYCVSUPD_OPTS}
	eend $? "Failed to start cvsupd"
}

stop() {
	ebegin "Stopping cvsupd"
	start-stop-daemon --stop --quiet --exec /usr/bin/cvsupd
	eend $? "Failed to stop cvsupd"
}
