BINDIR = /usr/bin
XINCLUDES = -I/usr/X11R6/include
XLIBS = -L/usr/X11R6/lib -lXext -lXmu -lX11
GLINCLUDES =
GLLIBS = -lGL -lGLU -lglut
RANLIB = ranlib
LIBDIR = `ocamlc -where`
LABLTKDIR = $(LIBDIR)/labltk
INSTALLDIR = $(LIBDIR)/lablGL
TOGLDIR = Togl
COPTS = -c -O $(CFLAGS)
INCLUDES = $(TKINCLUDES) $(GLINCLUDES) $(XINCLUDES)
LIBS = $(TKLIBS) $(GLLIBS) $(XLIBS)
LIBDIRS =