[Desktop Entry]
Name=Drawing
Name[az]=Rəsm
Name[ca]=Dibuix
Name[cs]=Kreslení
Name[da]=Tegneprogram
Name[de]=Zeichnung
Name[es]=Dibujo
Name[fr]=Dessin
Name[hr]=Crtanje
Name[ms]=Lukisan
Name[nl]=Tekenen
Name[no]=Tegning
Name[pl]=Rysunek
Name[pt]=Drawing
Name[sq]=Vizatim
Name[sr]=Цртање
Name[sr@Latn]=Crtanje
Name[sv]=Teckning
Name[vi]=Drawing
Name[wa]=Dessinaedje
Name[zh_CN]=画图工具
Name[zh_TW]=繪圖
Comment=OpenOffice.org drawing package
Comment[az]=OpenOffice.org rəsm çəkmə paketi
Comment[ca]=Paquet de dibuix d'OpenOffice.org
Comment[cs]=Kreslicí balík OpenOffice.org
Comment[da]=OpenOffice.org-tegnepakke
Comment[de]=OpenOffice.org Zeichnungspaket
Comment[es]=Paquete de dibujo de OpenOffice.org
Comment[fr]=Dessin OpenOffice.org
Comment[hr]=OpenOffice.org paket za crtanje
Comment[ms]=Pakej lukisan OpenOffice.org
Comment[nl]=OpenOffice.org tekenpakket
Comment[no]=OpenOffice.org tegneprogram
Comment[pl]=Rysunek OpenOffice.org
Comment[pt]=Pacote de desenho OpenOffice.org
Comment[sq]=Paketa për vizatimet në OpenOffice.org
Comment[sr]=Пакет за цртање из Отворене канцеларије
Comment[sr@Latn]=Paket za crtanje iz Otvorene kancelarije
Comment[sv]=OpenOffice.org-teckningspaket
Comment[vi]=Gói OpenOffice.org Drawing
Comment[wa]=Programe di dessinaedje d' OpenOffice.org
Comment[zh_CN]=OpenOffice.org 画图工具包
Comment[zh_TW]=OpenOffice.org 繪圖軟體
TryExec=xoodraw
Exec=xoodraw
Icon=ximian-openoffice-draw.png
Terminal=false
Type=Application
MimeType=application/vnd.sun.xml.draw;application/vnd.stardivision.draw
Categories=GNOME;Application;Office;X-Ximian-Main;
X-GNOME-Bugzilla-Bugzilla=Ximian
X-GNOME-Bugzilla-Product=OpenOffice.org Ximian Edition
