[Desktop Entry]
Name=Presentation
Name[az]=Təqdimat
Name[ca]=Presentació
Name[cs]=Prezentace
Name[da]=Præsentation
Name[de]=Präsentation
Name[es]=Presentación
Name[fr]=Présentation
Name[hr]=Prezentacija
Name[ms]=Persembahan
Name[nl]=Presentatie
Name[no]=Presentasjon
Name[pl]=Prezentacja
Name[pt]=Presentation
Name[sq]=Prezantime
Name[sr]=Презентација
Name[sr@Latn]=Prezentacija
Name[sv]=Presentation
Name[vi]=Presentation
Name[wa]=Prezintåcion
Name[zh_CN]=文档演示
Name[zh_TW]=簡報
Comment=OpenOffice.org presentation application
Comment[az]=OpenOffice.org təqdimat proqramı
Comment[ca]=Aplicació de presentacions d'OpenOffice.org
Comment[cs]=Aplikace OpenOffice.org pro prezentace
Comment[da]=OpenOffice.org-præsentationsprogram
Comment[de]=OpenOffice.org Präsentationsanwendung
Comment[es]=Aplicación de presentaciones de OpenOffice.org
Comment[fr]=Application de présentation OpenOffice.org
Comment[hr]=OpenOffice.org aplikacija za prezentacije
Comment[ms]=Aplikasi persembahan OpenOffice.org
Comment[nl]=OpenOffice.org presentatie-programma
Comment[no]=Openoffice.org presentasjonsprogram
Comment[pl]=Prezentacje OpenOffice.org
Comment[pt]=Aplicação de apresentações OpenOffice.org
Comment[sq]=Aplikativi për prezantimet i OpenOffice.org
Comment[sr]=Програм за презентације из Отворене канцеларије
Comment[sr@Latn]=Program za prezentacije iz Otvorene kancelarije
Comment[sv]=OpenOffice.org-presentationsprogram
Comment[vi]=Ứng dụng OpenOffice.org Presentation
Comment[wa]=Programe di prezintåcion d' OpenOffice.org
Comment[zh_CN]=OpenOffice.org 文档演示程序
Comment[zh_TW]=OpenOffice.org 簡報應用程式
TryExec=ooimpress
Exec=ooimpress
Icon=ximian-openoffice-impress.png
Terminal=false
Type=Application
Categories=GNOME;Application;Office;X-Ximian-Main;
X-GNOME-Bugzilla-Bugzilla=Ximian
X-GNOME-Bugzilla-Product=OpenOffice.org Ximian Edition
