[Desktop Entry]
Name=Spreadsheet
Name[az]=Hesab Cədvəli
Name[ca]=Full de càlcul
Name[cs]=Tabulkový kalkulátor
Name[da]=Regneark
Name[de]=Tabellenkalkulation
Name[es]=Hoja de cálculo
Name[fr]=Tableur
Name[hr]=Tablični kalkulator
Name[ms]=Hamparan
Name[nl]=Spreadsheet
Name[no]=Regneark
Name[pl]=Arkusz Kalkulacyjny
Name[pt]=Spreadsheet
Name[sq]=Fleta elektronike
Name[sr]=Табеле
Name[sr@Latn]=Tabele
Name[sv]=Kalkylblad
Name[vi]=Spreadsheet
Name[wa]=Tåvleu
Name[zh_CN]=电子表格
Name[zh_TW]=試算表
Comment=OpenOffice.org spreadsheet
Comment[az]=OpenOffice.org hesab cədvəli
Comment[ca]=Full de càlcul d'OpenOffice.org
Comment[cs]=Tabulkový kalkulátor OpenOffice.org
Comment[da]=OpenOffice.org-regneark
Comment[de]=OpenOffice.org Tabellenkalkulation
Comment[es]=Hoja de cálculo de OpenOffice.org
Comment[fr]=Tableur OpenOffice.org
Comment[hr]=Proračunska tablica OpenOffice.org
Comment[ms]=hamparan OpenOffice.org
Comment[nl]=OpenOffice.org spreadsheet
Comment[no]=OpenOffice.org regneark
Comment[pl]=Arkusz Kalkulacyjny OpenOffice.org
Comment[pt]=Folha de cálculo OpenOffice.org
Comment[sq]=Fleta elektronike e OpenOffice.org
Comment[sr]=Табеле из Отворене канцеларије
Comment[sr@Latn]=Tabele iz Otvorene kancelarije
Comment[sv]=OpenOffice.org-kalkylblad
Comment[vi]=OpenOffice.org spreadsheet
Comment[wa]=Tåvleu d' OpenOffice.org
Comment[zh_CN]=OpenOffice.org 电子表格
Comment[zh_TW]=OpenOffice.org 試算表
TryExec=oocalc
Exec=oocalc
Icon=ximian-openoffice-calc.png
Terminal=false
Type=Application
Categories=GNOME;Application;Office;Finance;X-Ximian-Main;
X-GNOME-Bugzilla-Bugzilla=Ximian
X-GNOME-Bugzilla-Product=OpenOffice.org Ximian Edition

