[Desktop Entry]
Name=Word Processor
Name[az]=Kəlmə İşlədici
Name[ca]=Processador de textos
Name[cs]=Textový procesor
Name[da]=Tekstbehandler
Name[de]=Textverarbeitung
Name[es]=Procesador de textos
Name[fr]=Traitement de texte
Name[hr]=Program za obradu teksta
Name[ms]=Pemproses Perkataan
Name[nl]=Tekstverwerker
Name[no]=Tekstbehandling
Name[pl]=Procesor tekstu
Name[pt]=Word Processor
Name[sq]=Procesues teksti
Name[sr]=Обрада текста
Name[sr@Latn]=Obrada teksta
Name[sv]=Ordbehandlare
Name[vi]=Word Processor
Name[wa]=Aspougneu d' tecse
Name[zh_CN]=文字处理工具
Name[zh_TW]=文書處理器
Comment=OpenOffice.org word processor
Comment[az]=OpenOffice.org kəlmə işlədicisi
Comment[ca]=Processador de textos d'OpenOffice.org
Comment[cs]=Textový procesor OpenOffice.org
Comment[da]=OpenOffice.org-tekstbehandler
Comment[de]=OpenOffice.org Textverarbeitung
Comment[es]=Procesador de textos de OpenOffice.org
Comment[fr]=Traitement de texte OpenOffice.org
Comment[hr]=OpenOffice.org program za obradu teksta
Comment[ms]=Pemproses perkataan OpenOffice.org
Comment[nl]=OpenOffice.org tekstverwerker
Comment[no]=OpenOffice.org tekstbehandling
Comment[pl]=Procesor tekstu OpenOffice.org
Comment[pt]=Processador de texto OpenOffice.org
Comment[sq]=Procesuesi i tekstit i OpenOffice.org
Comment[sr]=Обрада текста из Отворене канцеларије
Comment[sr@Latn]=Obrada teksta iz Otvorene kancelarije
Comment[sv]=OpenOffice.org-ordbehandlare
Comment[vi]=OpenOffice.org word processor
Comment[wa]=Aspougneu d' tecse d' OpenOffice.org
Comment[zh_CN]=OpenOffice.org 文字处理工具
Comment[zh_TW]=OpenOffice.org 文書處理器
TryExec=oowriter
Exec=oowriter
Icon=ximian-openoffice-writer.png
Terminal=false
Type=Application
Categories=GNOME;Application;Office;X-Ximian-Main;
X-GNOME-Bugzilla-Bugzilla=Ximian
X-GNOME-Bugzilla-Product=OpenOffice.org Ximian Edition
X-GNOME-Bugzilla-OtherBinaries=soffice.bin;getstyle-gnome
