[Desktop Entry]
Encoding=UTF-8
Version=0.9.2
Name=xCHM
Comment=Utility for viewing Microsoft .chm files
Exec=xchm %f
Icon=xchm
StartupNotify=true
Type=Application
Categories=Office;Viewer;
MimeType=application/x-chm;
