[Desktop Entry]
Version=1.0
Name=xCHM
Comment=Utility for viewing Microsoft .chm files
Exec=xchm %f
Icon=xchm
StartupNotify=true
Type=Application
Categories=Office;Viewer;
MimeType=application/x-chm;
