#!/sbin/runscript
# Copyright 1999-2005 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/sys-cluster/dlm/files/dlm.rc,v 1.2 2005/03/23 14:39:02 xmerlin Exp $

depend() {
	use net
	need cman
	provide cluster-locking-manager
}

start() {
	ebegin "Loading dlm module"
	modprobe dlm
	eend $?
}

stop() {

	local module modules

	if [ -d /proc/cluster/lock_dlm ]; then
		modules="${modules} lock_dlm"
	fi
	if [ -d /proc/cluster/dlm_dir ]; then
		modules="${modules} dlm"
	fi

	local module
	for module in ${modules}; do
		ebegin "Unloading ${module} kernel module"
		modprobe -r ${module}
		
		if [ "$?" -ne 0 ]
		then
			ewend 1 "Failed to unload ${module} kernel module"
		else
			eend 0
		fi
	done

}

