#!/sbin/runscript
# Copyright 1999-2005 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/sys-apps/evkeyd/files/evkeyd.rc,v 1.4 2005/02/13 05:16:47 vapier Exp $

depend() {
	need localmount
}

start() {
	ebegin "Starting evkeysd"
	start-stop-daemon --start --quiet --exec /usr/sbin/evkeyd
	eend $?
}

stop() {
	ebegin "Stopping evkeysd"
	start-stop-daemon --stop --quiet --pidfile /var/run/evkeyd.pid
	eend $?
}
