#!/sbin/runscript

depend() {
	need net
}

# Note: stop-start-daemon is not "compatible" with mhxd, doing things the old
# fashioned way.

start() {
	ebegin Starting mhxd
	cd /var/mhxd
	su hxd -c "/usr/sbin/hxd -f /etc/mhxd/hxd.conf -d 2> /dev/null"
	eend $?
}

stop() {
	ebegin Stopping mhxd
	su hxd -c "killall hxd"
	eend $?
}

reload() {
	ebegin Reloading mhxd
	su hxd -c "killall -HUP hxd"
	eend $?
}
