[Desktop Entry]
Encoding=UTF-8
Name=Opera
Comment=Web Browser
Exec=opera %u
Icon=opera.xpm
Terminal=false
Type=Application
Categories=Application;WebDevelopment;Qt;Network;WebBrowser;
MimeType=text/html
