#!/sbin/runscript
# Copyright 1999-2004 Gentoo Foundation
# Distributed under the terms of the GNU General Public License, v2 or later
# $Header: /var/cvsroot/gentoo-x86/sys-apps/hal/files/0.5-hald.rc,v 1.1 2005/08/18 07:19:37 cardoe Exp $

depend() {
	need dbus hotplug
}

start() {
	ebegin "Starting Hardware Abstraction Layer daemon"

	start-stop-daemon --start -q --exec /usr/sbin/hald
	
	eend $?
}

stop() {
	ebegin "Stopping Hardware Abstraction Layer daemon"

	start-stop-daemon --stop -q --pidfile /var/run/hald.pid 

	eend $?
}
