#!/sbin/runscript
# Copyright 1999-2006 Gentoo Foundation
# Distributed under the terms of the GNU General Public License, v2 or later
# $Header: /var/cvsroot/gentoo-x86/sys-apps/hal/files/0.5.9-hald.rc,v 1.5 2007/04/19 16:34:58 cardoe Exp $

depend() {
	need dbus
	use logger acpid
	after coldplug dns nscd
}

start() {
	[ -z "${HALD_VERBOSE}" ] && HALD_VERBOSE="no"
	ebegin "Starting Hardware Abstraction Layer daemon"

	if [ ! -e /dev/root ]; then
		echo "You need a /dev/root that points to your device that contains /"
		echo "See http://bugs.gentoo.org/show_bug.cgi?id=175243"
		eend 2
	fi

	if [ -f /proc/acpi/event ]; then
		chgrp haldaemon /proc/acpi/event
		chmod 440 /proc/acpi/event
	fi

	start-stop-daemon --start -q --exec /usr/sbin/hald -- --use-syslog --verbose=${HALD_VERBOSE}
	eend $?
}

stop() {
	ebegin "Stopping Hardware Abstraction Layer daemon"
	start-stop-daemon --stop -q --pidfile /var/run/hald.pid 
	eend $?
}
