[Unit]
Description=X-Window Display Manager on %I
Requires=dev-%i.device
After=dev-%i.device systemd-user-sessions.service

[Service]
ExecStart=/usr/bin/xdm -nodaemon

[Install]
Alias=graphical.target.wants/xdm@tty7.service
