[Unit]
Description=RabbitMQ daemon

[Service]
Type=simple
ExecStart=/usr/sbin/rabbitmq-server
StandardOutput=syslog
StandardError=syslog
Restart=always

[Install]
WantedBy=multi-user.target
