[Desktop Entry]
Name=GNU Emacs
Comment=Emacs is the extensible, customizable, self-documenting real-time display editor.
Icon=gnome-emacs.png
Terminal=0
Type=Application
Exec=/usr/bin/emacs
