[Desktop Entry]
Name=GNU Emacs 23.0.0
Comment=Emacs is the extensible, customizable, self-documenting real-time display editor.
Icon=gnome-emacs.png
Terminal=0
Type=Application
Exec=/usr/bin/emacs-23.0.0
