#!/sbin/runscript
# Copyright 1999-2004 Gentoo Technologies, Inc.
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/media-radio/ax25-tools/files/ax25d.rc,v 1.2 2004/03/04 18:47:39 vapier Exp $

depend() {
	need net
}

start() {
	ebegin "Starting ax25d"
	start-stop-daemon --start --quiet --background --exec /usr/sbin/ax25d
	eend $?
}

stop() {
	ebegin "Stopping ax25d"
	start-stop-daemon --stop --quiet --exec /usr/sbin/ax25d
	eend $?
}
