#!/sbin/runscript
# Copyright 1999-2004 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/mail-filter/gld/files/gld.rc,v 1.2 2004/08/11 18:31:51 slarti Exp $

depend() {
	need
	use dns
	before postfix
}

start() {
	ebegin "Starting gld"
	start-stop-daemon --start --quiet --exec /usr/bin/gld
	eend $?
}

stop() {
	ebegin "Stopping gld"
	start-stop-daemon --stop --quiet --name gld
	eend $?
}
