[Desktop Entry]
Name=AbiWord
Name[ca]=AbiWord
Name[cs]=AbiWord
Name[da]=AbiWord
Name[de]=AbiWord
Name[el]=AbiWord
Name[es]=AbiWord
Name[et]=AbiWord
Name[fi]=AbiWord
Name[fr]=AbiWord
Name[ga]=AbiWord
Name[gl]=AbiWord
Name[hr]=AbiWord
Name[hu]=AbiWord
Name[it]=AbiWord
Name[ja]=AbiWord
Name[nl]=AbiWord
Name[nn]=AbiWord
Name[no]=AbiWord
Name[pl]=AbiWord
Name[pt_BR]=AbiWord
Name[ru]=AbiWord
Name[sk]=AbiWord
Name[sv]=AbiWord
Name[tr]=AbiWord
Name[uk]=AbiWord
Name[zh_CN.GB2312]=AbiWord
Name[zh_TW.Big5]=AbiWord
Comment=Word Processing for Everyone
Comment[da]=
Comment[de]=
Comment[es]=
Comment[et]=
Comment[fr]=
Comment[gl]=
Comment[hu]=
Comment[ja]=
Comment[nl]=
Comment[nn]=
Comment[no]=
Comment[pl]=
Comment[pt]=
Comment[pt_BR]=
Comment[ru]=
Comment[sk]=
Comment[sv]=
Comment[tr]=
Comment[zh_CN.GB2312]=
Exec=AbiWord
Icon=AbiWord.png
Terminal=0
Type=Application
Categories=GNOME;Application;Office;
