[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Qtstalker
GenericName=Stock Charting
GenericName[nl]=Koersgrafieken
GenericName[pl]=Wykresy Giełdowe
Comment=Stock and commodity market charting and technical analysis
Comment[nl]=Koersgrafieken en technische analyse
Comment[pl]=Wykresy giełdowe i towarowe oraz analizy techniczne
Exec=/usr/bin/qtstalker
Icon=/usr/share/pixmaps/qtstalker.png
Terminal=false
Categories=Application;Finance;Office;Qt;

